@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.dark {
  color-scheme: dark;
}

.main {
  overflow-x: hidden;
}

.main:after {
  content: "";
  background-image: url("/assets/backgrounds/grid.svg");
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  filter: inherit;
  min-height: 100vh;
}